<launch>
	  <machine default="false" name="verde" address="leve-arqueiro" user="leve" password="leveleve" env-loader="/home/leve/ros/verde/src/verde/verde_env.sh"/>
	<node pkg="verde_driver" name="control_policies" type="control_policies" output="screen">
		<rosparam command="load" file="$(find verde_driver)/config/control_policies.yaml"/>
		<!-- <remap from="imu/data" to="xsens/imu"/> -->
	</node>

	<node pkg="rosbag" type="record" name="record" args="-a -o /home/leve/Desktop/tests/cocp3/" machine="verde"/>
</launch>